/***<<--- Heading Transition --->>***/

.wdt-heading-holder
{
    -webkit-transition: var(--wdt-elementor-base-transition);
            transition: var(--wdt-elementor-base-transition);
}

/***<<--- Heading Common --->>***/

.wdt-heading-holder
{
    position: relative;
}

.wdt-heading-holder > *:not(:last-child)
{
    margin-bottom: 10px;
}

.wdt-heading-holder > *:last-child
{
    margin-bottom: 0;
}

.wdt-heading-holder .wdt-heading-title-wrapper
{
    line-height: var(--wdtLineHeight_H2);
    margin-top: 0;
}

/*** Subtitle ---***/

.wdt-heading-holder .wdt-heading-subtitle-wrapper
{
    font-size: var(--wdtFontSize_Ext);
    letter-spacing: 0;
    display:inline-flex;
    align-items:center;
    font-weight:var(--wdtFontWeight_Alt);
} 
.wdt-heading-holder .wdt-heading-subtitle-wrapper:before,
.wdt-heading-holder .wdt-heading-subtitle-wrapper:after{
    content:"";
    height:10px;
    width:25px;
    background-color:currentColor;
    margin-right:10px; 
    mask-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 8'%3E%3Cpath d='M0,4A4,4,0,0,1,4,0,4.1,4.1,0,0,1,7.9,3H19a1.1,1.1,0,0,1,1,1,1.1,1.1,0,0,1-1,1H7.9A4.1,4.1,0,0,1,4,8,4,4,0,0,1,0,4Z'/%3E%3C/svg%3E");
    mask-size:cover;
    mask-position:center;
    mask-repeat:no-repeat;
    -webkit-mask-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 8'%3E%3Cpath d='M0,4A4,4,0,0,1,4,0,4.1,4.1,0,0,1,7.9,3H19a1.1,1.1,0,0,1,1,1,1.1,1.1,0,0,1-1,1H7.9A4.1,4.1,0,0,1,4,8,4,4,0,0,1,0,4Z'/%3E%3C/svg%3E");
    -webkit-mask-size:cover;
    -webkit-mask-position:center;
    -webkit-mask-repeat:no-repeat;
}
.wdt-heading-holder .wdt-heading-subtitle-wrapper:after{
    margin-left:10px;
    transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
}

/*--- Highlight Elements --*/
.wdt-heading-holder .wdt-heading-title-wrapper .wdt-heading-colored-elements{
    background-color: transparent;
    background-image: linear-gradient(90deg, var(--wdtPrimaryColor), var(--wdtTertiaryColor));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: 0.2em;
}

/***<<--- Heading - Background Text Elements --->>***/

.wdt-heading-holder .wdt-heading-background-text-wrapper {
    line-height: 1;
    margin-bottom: 0;
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    user-select: none;
    pointer-events: none;
}

.wdt-heading-holder .wdt-heading-background-text-wrapper .wdt-heading-background-text {
    display: inline-block;
    font-family: var(--wdtFontTypo_Alt);
    font-size: 12.5em;
    font-weight: 900;
    letter-spacing: 0.075em;
    line-height: 0.65;
    opacity: 0.048;
    margin-top: 5px;
    margin-left: -5px;
}


/* Default Colors */
.wdt-heading-holder .wdt-heading-subtitle-wrapper{
    color:var(--wdtHeadAltColor);
}
.wdt-dark-bg .wdt-heading-holder .wdt-heading-subtitle-wrapper{
    color:var(--wdtAccentTxtColor);
}

.wdt-heading-holder > .wdt-heading-separator-wrapper .wdt-separator-line,
.wdt-heading-holder > .wdt-heading-deco-wrapper > span .wdt-heading-deco-line
{
    background-color: var(--wdt-elementor-color-primary);
}

.wdt-heading-holder .wdt-heading-separator.with-icon .wdt-content-icon-wrapper .wdt-content-icon span,
.wdt-heading-holder .wdt-heading-deco-wrapper .wdt-content-icon-wrapper .wdt-content-icon span,
.wdt-heading-holder .wdt-heading-deco-wrapper .wdt-heading-title .wdt-heading-colored-elements
{
    color: var(--wdt-elementor-color-primary);
}
