/** 
    Specification Common 
*/

.wdt-specifications-holder .wdt-content-item > div:not(:last-child), 
.wdt-specifications-holder .wdt-content-item .wdt-content-media-group > div:not(:last-child), 
.wdt-specifications-holder .wdt-content-item .wdt-content-detail-group > div:not(:last-child), 
.wdt-specifications-holder .wdt-content-item .wdt-content-elements-group > div:not(:last-child) { margin-bottom: 10px; }

.wdt-specifications-holder .wdt-content-item { height: 100%; }

/* .wdt-specifications-holder .wdt-specification-block { display: grid; width: 100%; height: 100%; overflow: hidden; }

.wdt-specifications-holder .wdt-specification-block > div.wdt-content-image-wrapper,
.wdt-specifications-holder .wdt-specification-block > div.wdt-content-detail-group { grid-area: 1/-1; align-content: center; width: 100%;}

.wdt-specifications-holder .wdt-specification-block > div.wdt-content-detail-group { position: relative; padding: 30px 20px;  }
.wdt-specifications-holder .wdt-specification-block > div.wdt-content-detail-group > div { position: relative; z-index: 1; } */

.wdt-specifications-holder .wdt-specification-block > div.wdt-content-detail-group > div.wdt-content-spec-group.item-inline { 
    display: flex; gap: 6px 28px; flex-wrap: wrap; }

.wdt-content-spec-group.item-block > div:not(:last-child) { margin: 0 0 4px; }

.wdt-specifications-holder .wdt-specification-block .wdt-content-image-wrapper img { 
    width: 100%; height: 100%; object-fit: cover; object-position: center; }


/** 
    Specification Title 
*/

.wdt-specifications-holder .wdt-specification-block .wdt-content-title h4 { margin: 0; }

/* Type 1 */
.wdt-specifications-holder .wdt-content-item .wdt-specification-block.wdt_type_1{display:inline-flex;align-items:center;gap: clamp(0.9375rem, 0.8333rem + 0.3472vw, 1.25rem);/*15-20px*/}
.wdt-specifications-holder .wdt-content-item .wdt-specification-block.wdt_type_1 .wdt-content-title h4{  font-size:var(--wdtFontSize_H6);  }
.wdt-specifications-holder .wdt-content-item .wdt-specification-block.wdt_type_1 .wdt-content-icon-wrapper {padding: 13px;background:var(--wdtBodyBGColor);border-radius: var(--wdtRadius_1X);}
.wdt-specifications-holder .wdt-content-item .wdt-specification-block.wdt_type_1 .wdt-content-icon {font-size: clamp(1.5rem, 1.4164rem + 0.3822vw, 1.875rem); /* Min-24 & Max-30 */;padding:12px;background: linear-gradient(90deg, var(--wdtPrimaryColor), var(--wdtTertiaryColor), var(--wdtPrimaryColor));background-size: 300% 100%;background-position: center left;border-radius: inherit;color: var(--wdtHeadAltColor);}
.wdt-specifications-holder .wdt-content-item .wdt-specification-block.wdt_type_1 .wdt-content-description { line-height:var(--wdtLineHeight_Base); font-size: calc(var(--wdtFontSize_Base) - 1px);}
.wdt-specifications-holder .wdt-content-item .wdt-specification-block.wdt_type_1 .wdt-content-spec-items { line-height:var(--wdtLineHeight_Alt); }
.wdt-specifications-holder .wdt-content-item .wdt-specification-block.wdt_type_1 .wdt-content-spec-items > a { color:var(--wdtBodyTxtColor); font-size: calc(var(--wdtFontSize_Base) - 1px); }
.wdt-specifications-holder .wdt-content-item .wdt-specification-block.wdt_type_1 .wdt-content-spec-items > a:hover { color:var(--wdtPrimaryColor); }

@media only screen and (max-width:479px){
    .wdt-specifications-holder .wdt-content-item .wdt-specification-block.wdt_type_1{
        flex-direction:column;
        align-items: inherit;
    }
}

/* contact custom btn */
/* sidebar form */
.wdt-sidebar-form > p{ display:grid; gap:16px; margin-bottom:40px; }
.wdt-sidebar-form p .wpcf7-form-control-wrap input{ padding:var(--wdtInputPadding); line-height:var(--wdtLineHeight_H6); background:var(--wdtBodyBGColor); border-radius:var(--wdtRadius_1X); border-color:transparent; }
.wdt-sidebar-form p .wpcf7-form-control-wrap input:focus{ border-color:var(--wdtPrimaryColor); }
.wdt-form-submit-btn p > input { background-image: linear-gradient(90deg, var(--wdtTertiaryColor), var(--wdtPrimaryColor), var(--wdtTertiaryColor)); background-size: 200% 100%; background-repeat: no-repeat; grid-area: 1/1; border:0; color: var(--wdtHeadAltColor); justify-content: center; text-align: center; background-color: transparent; background-position: right bottom; border-radius: var(--wdtRadius_1X); position:relative; padding-right: clamp(3.125rem, 2.916rem + 0.9554vw, 4.0625rem); /*50-65px*/ }
.wdt-form-submit-btn p > input:hover,
.wdt-form-submit-btn p > input:focus { background-image: linear-gradient(90deg, var(--wdtTertiaryColor), var(--wdtPrimaryColor), var(--wdtTertiaryColor)); background-size: 200% 100%; color: var(--wdtHeadAltColor); box-shadow: none; background-position: left top; }
.wdt-form-submit-btn p.with-spinner { display:inline-grid; place-items: end; align-items: center; }
.wdt-form-submit-btn p > i.wdt-submit-icon{ grid-area: 1 / -1; display: block; position: relative; pointer-events: none; width: 16px; height: 16px; right: clamp(1.5rem, 1.2771rem + 1.0191vw, 2.5rem); z-index:1; }
.wdt-form-submit-btn p > i.wdt-submit-icon:before{ content:""; position: absolute; pointer-events: none; width: 100%; height: 100%; left:0; top:0; right:0; bottom:0; margin:auto; mask-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 100 100' style='enable-background:new 0 0 100 100;' xml:space='preserve'%3E%3Cpath d='M97.5,50L44.1,19.1v61.7L97.5,50z M2.5,50v5.3h46.9V50v-5.3H2.5V50z'/%3E%3C/svg%3E%0A"); -webkit-mask-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 100 100' style='enable-background:new 0 0 100 100;' xml:space='preserve'%3E%3Cpath d='M97.5,50L44.1,19.1v61.7L97.5,50z M2.5,50v5.3h46.9V50v-5.3H2.5V50z'/%3E%3C/svg%3E%0A"); mask-repeat: no-repeat; -webkit-mask-repeat: no-repeat; background: var(--wdtHeadAltColor); }
.wdt-form-submit-btn p:hover > i.wdt-submit-icon:before { -webkit-animation: 0.375s linear 0s 1 normal none running btn-arrow-move-rev; animation: 0.375s linear 0s 1 normal none running btn-arrow-move-rev; }