/*----*****---- << 404 Error - Type 2 >> ----*****----*/

	.error404 .type1 h1{
		font-size: clamp(6.25rem, 3.1423rem + 10.4022vw, 15.625rem);/*--- 100 - 250 ---*/
	}

	.error404 .type1 h2 { 
		font-family: var(--wdtFontTypo_Alt); font-size: var(--wdtFontSize_Base); font-weight: var(--wdtFontWeight_Base); 
		line-height: 0.85; letter-spacing: 0; text-transform: capitalize; margin: 0; 
		margin-bottom: 20px; }
	.error404 .type1 h2:before,
	.error404 .type1 h2:after{
    	content:"";
    	height:10px;
    	width:25px;
		display: inline-block;
    	background-color:currentColor;
    	margin-right:10px; 
    	mask-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 8'%3E%3Cpath d='M0,4A4,4,0,0,1,4,0,4.1,4.1,0,0,1,7.9,3H19a1.1,1.1,0,0,1,1,1,1.1,1.1,0,0,1-1,1H7.9A4.1,4.1,0,0,1,4,8,4,4,0,0,1,0,4Z'/%3E%3C/svg%3E");
    	mask-size:cover;
    	mask-position:center;
    	mask-repeat:no-repeat;
    	-webkit-mask-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 8'%3E%3Cpath d='M0,4A4,4,0,0,1,4,0,4.1,4.1,0,0,1,7.9,3H19a1.1,1.1,0,0,1,1,1,1.1,1.1,0,0,1-1,1H7.9A4.1,4.1,0,0,1,4,8,4,4,0,0,1,0,4Z'/%3E%3C/svg%3E");
    	-webkit-mask-size:cover;
    	-webkit-mask-position:center;
    	-webkit-mask-repeat:no-repeat;
	}
	.error404 .type1 h2:after{
    	margin-left:10px;
    	transform:rotate(180deg);
    	-webkit-transform:rotate(180deg);
	}	
	.error404 .type1 h3 { 
		position: relative; display: inline-block; font-size: 220px; font-weight: bold; line-height: 0.85; 
		top: 0; margin: 0; margin-bottom: clamp(1.875rem, 1.7082rem + 0.9202vw, 2.8125rem); /*40px - 25px*/ }
	.error404 .type1 h4 {
		width: 100%;
		max-width: 600px;
		font-size: clamp(2.25rem, 2.0549rem + 0.8917vw, 3.125rem); /* Min-36 & Max-50 */
		font-weight: var(--wdtFontWeight_H2);
		line-height:var(--wdtLineHeight_H2);
		text-transform: capitalize;
		border-bottom: 0px solid var(--wdtBorderColor);
		padding-bottom: 20px;
		margin-top: 0;
		margin-bottom: 0px;
		margin-left: auto;
		margin-right: auto;
		}
	.error404 .type1 p {     
		font-size: var(--wdtFontSize_Base); font-weight: var(--wdtFontWeight_Base); color: rgba(var(--wdtAccentTxtColorRgb),0.8); max-width:800px; 
		padding:0 clamp(0rem, -0.6215rem + 2.0804vw, 1.875rem) clamp(1.875rem, 1.4606rem + 1.387vw, 3.125rem);/* 30-10 & 30-0 */ margin-bottom: 0; }
	.error404 .type1 a.wdt-button { 
		display: inline-block; font-size: var(--wdtFontSize_Base); font-weight: var(--wdtFontWeight_Ext); 
		letter-spacing: 0; text-transform: capitalize; padding: var(--wdtPadding_Btn); color: var(--wdtAccentTxtColor); 
		background-image: linear-gradient(90deg , var(--wdtTertiaryColor), var(--wdtPrimaryColor) , var(--wdtTertiaryColor)); 
    	background-size: 200% 100%; background-position: bottom right; background-repeat:no-repeat; color: var(--wdtHeadAltColor); justify-content: center; 
    	text-align: center; background-color: transparent; border-radius: var(--wdtRadius_1X); -webkit-border-radius: var(--wdtRadius_1X);}

	.error404 .type1 a.wdt-button:hover{
		background-image: linear-gradient(90deg , var(--wdtTertiaryColor), var(--wdtPrimaryColor) , var(--wdtTertiaryColor)); background-size: 200% 100%; 
    	background-position: top left; color: var(--wdtHeadAltColor); -webkit-box-shadow:none; box-shadow: none;
	}
	.error404 .type1 a.wdt-button:after{
		content:"";
		height:12px;
		width:20px;
		display:inline-block;
		background-color:currentcolor;
		mask-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27.7 18'%3E%3Cpath d='M12.1,18V10.6H0V7.4H12.1V0L27.7,9Z'%3E%3C/path%3E%3C/svg%3E");
		mask-repeat:no-repeat;
		mask-position:center;
		margin:auto;
		margin-left:5px;
	}
.error404 .type1 a.wdt-button:hover:after{
	animation: btn-arrow-move 0.375s linear;
	    -webkit-animation: btn-arrow-move 0.375s linear;
}
	@keyframes btn-arrow-move{
    0%{ transform:translateX(0); opacity:1; }
    49%{ transform:translateX(100%); opacity:0; }
    50%{ transform:translateX(-100%); opacity:0; }
    100%{ transform:translateX(0%); opacity:1; }
	}
	@keyframes btn-arrow-move-rev{
    0%{ transform:translateX(0); opacity:1; }
    49%{ transform:translateX(-100%); opacity:0; }
    50%{ transform:translateX(100%); opacity:0; }
    100%{ transform:translateX(0%); opacity:1; }
	}


		/* Accents */
		.error404 .type1 h3 { color: var(--wdtPrimaryColor); }
		.error404 .type1 a.wdt-button { background-color: var(--wdtPrimaryColor); }
		.error404 .type1 a.wdt-button:hover { background-color: var(--wdtSecondaryColor); }


/*--------------------------------------------------------------
    Responsive
--------------------------------------------------------------*/

    @media only screen and (min-width:768px) and (max-width:1024px) {
		.error404 .type1 h2 { font-size: 16px; }
		.error404 .type1 h3 { font-size: 180px; }
	}

    @media only screen and (min-width: 480px) and (max-width: 767px) {
		.error404 .container { width: 100%; padding: 0 10%; }
		.error404 .type1 h2, .error404 h2 { font-size: 16px; }
		.error404 .type1 h3 { font-size: 150px; }
	}

    @media only screen and (max-width: 479px) {
		.error404 .container { width: 100%; padding: 0 10%; }
		.error404 .type1 h4 { width: 100%; }
		.error404 h1, .error404 h2, .error404 h3, .error404 h4, .error404 h5, .error404 h6 { line-height: normal; }
		.error404 .type1 h3, .error404 h3 { font-size: 70px; letter-spacing: 0; }
		.error404 .type1 h2, .error404 h2 { font-size: 16px; }
	}

	@media only screen and (min-width: 320px) and (max-width: 479px) {
		.error404 .type1 h2 { font-size: 16px; }
		.error404 .type1 h3 { font-size: 120px; }
		.error404 .type1 h4 { font-size: var(--wdtFontSize_H4); }
	}

	@media only screen and (max-width: 319px) {
		.error404 .type1 h2 { font-size: 16px; }
		.error404 .type1 h3 { font-size: 100px; }
		.error404 .type1 h4 { font-size: var(--wdtFontSize_H5); }	
	}