
.wdt-content-item .wdt-content-counter { color: var(--wdt-elementor-color-secondary); display: inline-flex; align-items: center; justify-content: center; font-size: 1.5em; font-weight: var(--wdtFontWeight_Ext); -webkit-transition: var(--wdt-elementor-base-transition); transition: var(--wdt-elementor-base-transition); }
.wdt-content-item .wdt-content-counter > *:not(:last-child) { margin-right: 2px; }


/* Default Template */
.wdt-counter-holder.wdt-rc-template-default .wdt-content-item { text-align: center; }
.wdt-counter-holder.wdt-rc-template-default .wdt-content-item .wdt-content-icon-wrapper .wdt-content-icon span { background-color: rgba(var(--wdt-elementor-color-accent-rgb), 0.85); color: var(--wdt-elementor-color-white); font-size: 30px; height: 75px; width: 75px; -webkit-border-radius: 3px; border-radius: 3px; }
.wdt-counter-holder.wdt-rc-template-default .wdt-content-item .wdt-content-counter { font-size: 30px; font-weight: var(--wdtFontWeight_Alt); line-height: 1; }
.wdt-counter-holder.wdt-rc-template-default .wdt-content-item:hover .wdt-content-icon-wrapper .wdt-content-icon span { background-color: var(--wdt-elementor-color-accent); -webkit-border-radius: 10px; border-radius: 10px; -webkit-box-shadow: 0 10px 10px -10px rgba(var(--wdt-elementor-color-secondary-rgb), 0.5); box-shadow: 0 10px 10px -10px rgba(var(--wdt-elementor-color-secondary-rgb), 0.5); -webkit-transform: translateY(-5px); transform: translateY(-5px); }
.wdt-counter-holder.wdt-rc-template-default .wdt-content-item .wdt-content-detail-group .wdt-content-title h5 { font-weight: var(--wdtFontWeight_Base); font-size: var(--wdtFontSize_Base); color: var(--wdtHeadAltColor); }

/* Standard Template */
.wdt-counter-holder.wdt-rc-template-standard{overflow: hidden;}
.wdt-counter-holder.wdt-rc-template-standard .wdt-column-wrapper{margin: 0 -1px;}
.wdt-counter-holder.wdt-rc-template-standard .wdt-content-item { text-align: center; }
.wdt-counter-holder.wdt-rc-template-standard .wdt-column:not(:last-child) .wdt-content-item::before { content: ""; position: absolute; top: 0; bottom: 0; right: 0; width: 1px; height: 100%; background: rgba(var(--wdtAccentTxtColorRgb), 0.2); margin: auto; }
.wdt-counter-holder.wdt-rc-template-standard .wdt-content-item .wdt-content-counter { font-size: clamp(2.5rem, 2.082rem + 1.9108vw, 4.375rem); /* Min-50 & Max-70 */ line-height: 1; }
.wdt-counter-holder.wdt-rc-template-standard .wdt-content-item .wdt-content-counter .wdt-content-counter-prefix, 
.wdt-counter-holder.wdt-rc-template-standard .wdt-content-item .wdt-content-counter .wdt-content-counter-suffix{ font-size: inherit; color: inherit; font-weight: inherit; }
.wdt-counter-holder.wdt-rc-template-standard .wdt-content-item .wdt-content-detail-group .wdt-content-title h5 { font-weight: var(--wdtFontWeight_Base); font-size: clamp(1.125rem, 1.0417rem + 0.1736vw, 1.25rem);/*20-18*/ }

/* Modern Template */
.wdt-counter-holder.wdt-rc-template-modern .wdt-content-item{
    height: clamp(11.875rem, 7.2917rem + 9.5486vw, 18.75rem);/*300-190*/
    width: clamp(11.875rem, 7.2917rem + 9.5486vw, 18.75rem);/*300-190*/
    background: rgba(var(--wdtAccentTxtColorRgb), 0.5);
    backdrop-filter: blur(10px);
    border-radius: var(--wdtRadius_Full);
    display:grid;
    place-content: center;
    padding:clamp(0.625rem, -2.9464rem + 5.5804vw, 3.75rem);/*60-0*/
    box-shadow: 0 0 30px 10px rgba(var(--wdtBorderColorRgb),0.3);
    position:relative; z-index:3; will-change:transform;
}
.wdt-counter-holder.wdt-rc-template-modern .wdt-content-item:hover{
    box-shadow:none;
}

.wdt-counter-holder.wdt-rc-template-modern .wdt-content-item:before{
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    display: inline-block;
    background: linear-gradient(25deg, rgba(var(--wdtPrimaryColorRgb),1) 54%, var(--wdtTertiaryColor) ,transparent);
    border-radius: inherit;
    z-index: -3;
    opacity:0;
    transition: opacity 0.3s linear; -webkit-transition: opacity 0.3s linear;
    animation: wdt-rotate 3s infinite linear;
    box-shadow: 0 0 80px 1px rgba(var(--wdtTertiaryColorRgb),0.3);
    -webkit-box-shadow: 0 0 80px 1px rgba(var(--wdtTertiaryColorRgb),0.3);
}
@keyframes wdt-rotate{
    0%{
        transform:rotate(0);
    }
    100%{
        transform:rotate(360deg);
    }
}

.wdt-counter-holder.wdt-rc-template-modern .wdt-content-item:after{
    content:"";
    height:100%;
    width:100%;
    position:absolute;
    z-index:-1;
    background-color:var(--wdtAccentTxtColor);
    display: inline-block;
    margin:0;
    border-radius:var(--wdtRadius_Full);
    left:0;
    opacity:1;
}
.wdt-counter-holder.wdt-rc-template-modern .wdt-content-item:hover:before,
.wdt-counter-holder.wdt-rc-template-modern .wdt-content-item:hover:after{
    opacity:1;
}

.wdt-counter-holder.wdt-rc-template-modern .wdt-content-item .wdt-content-counter,
.wdt-counter-holder.wdt-rc-template-modern .wdt-content-item .wdt-content-counter-prefix, 
.wdt-counter-holder.wdt-rc-template-modern .wdt-content-item .wdt-content-counter-suffix{
    font-size: clamp(2.5rem, 2.082rem + 1.9108vw, 4.375rem); /* Min-50 & Max-70 */
    font-weight:var(--wdtFontWeight_Ext);
    line-height:1;
    transition: var(--wdt-Ad-Transition);
}
.wdt-counter-holder.wdt-rc-template-modern .wdt-content-item .wdt-content-title h5{
    font-size: clamp(1rem, 0.8333rem + 0.3472vw, 1.25rem);/*20-16*/
    font-weight:var(--wdtFontWeight_Base);
    color:var(--wdtHeadAltColor);
    padding: 0 20px;
}
.wdt-counter-holder.wdt-rc-template-modern .wdt-content-item:hover .wdt-content-counter,
.wdt-counter-holder.wdt-rc-template-modern .wdt-content-item:hover .wdt-content-counter-prefix, 
.wdt-counter-holder.wdt-rc-template-modern .wdt-content-item:hover .wdt-content-counter-suffix{
    color: var(--wdtPrimaryColor);
}

/* Classic template */
.wdt-counter-holder.wdt-rc-template-classic .wdt-content-item { text-align: center; }
.wdt-counter-holder.wdt-rc-template-classic .wdt-column:not(:last-child) .wdt-content-item::before { content: ""; position: absolute; top: 0; bottom: 0; right: 0; width: 1px; height: 70%; background: rgba(var(--wdtAccentTxtColorRgb), 0.3); margin: auto; }
.wdt-counter-holder.wdt-rc-template-classic .wdt-content-item .wdt-content-counter { font-size: clamp(2.5rem, 2.082rem + 1.9108vw, 4.375rem); /* Min-50 & Max-70 */ line-height: 1; }
.wdt-counter-holder.wdt-rc-template-classic .wdt-content-item .wdt-content-counter .wdt-content-counter-prefix, 
.wdt-counter-holder.wdt-rc-template-classic .wdt-content-item .wdt-content-counter .wdt-content-counter-suffix{font-size: inherit;color: transparent;font-weight: inherit; background-image: linear-gradient(90deg, var(--wdtTertiaryColor), var(--wdtPrimaryColor), var(--wdtTertiaryColor)) !important;
    background-size: 200% 100%; background-clip:text; background-position: bottom right; background-repeat: no-repeat;}
.wdt-counter-holder.wdt-rc-template-classic .wdt-content-item .wdt-content-detail-group .wdt-content-title h5 { font-weight: var(--wdtFontWeight_Base); font-size: var(--wdtFontSize_Base); }

@media screen and (max-width:1280px) {
    .wdt-counter-holder.wdt-rc-template-classic .wdt-column:not(:last-child) .wdt-content-item::before {
        opacity: 0;
    }
}
@media screen and (min-width:768px) {
    .wdt-counter-holder.wdt-rc-template-modern .wdt-column:not(:first-child) .wdt-content-item{
        margin-left:-10px
    }
}
@media screen and (max-width:767px) {
    .wdt-counter-holder.wdt-rc-template-modern .wdt-column:not(:first-child) .wdt-content-item{
    margin-top:-10px
    }
    .wdt-counter-holder.wdt-rc-template-modern .wdt-content-item{
        height: auto;
        width: 100%;
        padding: 40px;
        aspect-ratio: 1;
    }
    .wdt-counter-holder.wdt-rc-template-modern .wdt-content-item .wdt-content-title h5{
        font-size: var(--wdtFontSize_H6);
    }
    .wdt-counter-holder.wdt-rc-template-standard .wdt-column:not(:last-child) .wdt-content-item::before{
        opacity: 0;
    }

}