/**
    Accordion & Toggle Transition
*/

.wdt-accordion-toggle-holder,
.wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder,
.wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-icon {
    -webkit-transition: var(--wdt-Ad-Transition); transition: var(--wdt-Ad-Transition); }

/**
    Accordion & Toggle Common
*/

.wdt-accordion-toggle-holder { overflow: hidden; width: 100%; margin: 0 auto; }

.wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder,
.wdt-accordion-toggle-holder .wdt-accordion-toggle-description { background-image: none; border-radius: 0px; }

.wdt-accordion-toggle-holder .wdt-accordion-toggle-wrapper:not(:last-child) { margin-bottom: 20px; }
.wdt-accordion-toggle-holder .wdt-accordion-toggle-wrapper { display: flex; flex-wrap: wrap; width: 100%; }

.wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder { font-size: clamp(1.25rem, 1.1943rem + 0.2548vw, 1.5rem); /* Min-20 & Max-24 */ line-height: normal; position: relative; 
    display: flex; align-items: center; width: 100%; margin: 0 auto; padding: 40px 40px; cursor: pointer; }

.wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-title { font-family: var(--wdtFontTypo_Alt); flex-grow: 1; }

.wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-title div[class*='-title-prefix'] { 
    line-height: 1; position: relative; margin: 0 10px 0 0; padding: 0 5px 0 0; }

.wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-title div[class*='-title-prefix']:not(.icon):before {
    position: absolute; right: 0; bottom: 4px; width: 3px; height: 3px; content: ''; background: currentColor; }

.wdt-accordion-toggle-holder[class*='-expand-collapse-position-start'] .wdt-accordion-toggle-title-holder { 
    flex-direction: row-reverse; justify-content: start; }
.wdt-accordion-toggle-holder[class*='-expand-collapse-position-start'] .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-icon { 
    margin: 0 20px 0 0; }

.wdt-accordion-toggle-holder .wdt-accordion-toggle-description { padding: 14px 24px; font-size: var(--wdtFontSize_Base); 
    width: 100%; font-family: var(--wdtFontTypo_Base); background: transparent; }

.wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-icon { position: relative; 
    display: flex; flex-shrink: 0; width: 1em; height: 1em; margin-left: 10px;  }

.wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-icon > div { position: absolute; 
    top: 0; right: 0; bottom: 0; left: 0; display: flex; align-items: center; justify-content: flex-end; margin: auto; font-size: 14px; color: var(--wdtHeadAltColor); }

.wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder.ui-state-active .wdt-accordion-toggle-icon [class*='-toggle-icon-expand'] { opacity: 0; }
.wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-icon [class*='-toggle-icon-expand'] { opacity: 1; }

.wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder.ui-state-active .wdt-accordion-toggle-icon [class*='-toggle-icon-collapse'] { opacity: 1; }
.wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-icon [class*='-toggle-icon-collapse'] { opacity: 0; }

.wdt-dark-bg .wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-icon > div {
    color: var(--wdtAccentTxtColor);
}
.wdt-dark-bg .wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder.ui-state-active .wdt-accordion-toggle-icon > div {
    color: var(--wdtPrimaryColor);
}
.wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder.ui-state-active  .wdt-accordion-toggle-icon > div {
    color: var(--wdtSecondaryColor);
}

/** 
    Template Classic 
*/
.wdt-accordion-toggle-holder.wdt-template-classic .wdt-accordion-toggle-wrapper { background-color: rgba(var(--wdtAccentTxtColorRgb),0.2); backdrop-filter: blur(10px); border: 1px solid rgba(var(--wdtAccentTxtColorRgb),0.1); border-radius: var(--wdtRadius_2X); overflow: hidden;-webkit-transition: var(--wdt-Ad-Transition);transition: var(--wdt-Ad-Transition); }
.wdt-accordion-toggle-holder.wdt-template-classic .wdt-accordion-toggle-wrapper:has(.ui-state-active){border-color: var(--wdtPrimaryColor);}
.wdt-accordion-toggle-holder.wdt-template-classic .wdt-accordion-toggle-title-holder { border: none; background-color: transparent; color: var(--wdtHeadAltColor); }
.wdt-accordion-toggle-holder.wdt-template-classic .wdt-accordion-toggle-description { border: none;}
.wdt-accordion-toggle-holder.wdt-template-classic .wdt-accordion-toggle-description p{ margin-bottom: 0; }
.wdt-accordion-toggle-holder.wdt-template-classic .wdt-accordion-toggle-wrapper .wdt-accordion-toggle-title-holder,
.wdt-accordion-toggle-holder.wdt-template-classic .wdt-accordion-toggle-description {padding: clamp(1.25rem, 0.7514rem + 1.6655vw, 2.75rem); /*40-20*/}
.wdt-accordion-toggle-holder.wdt-template-classic .wdt-accordion-toggle-wrapper:has(.ui-state-active) .wdt-accordion-toggle-title-holder {padding-bottom: clamp(0.9375rem, 0.8678rem + 0.3185vw, 1.25rem); /*15-20*/}    
.wdt-accordion-toggle-holder.wdt-template-classic .wdt-accordion-toggle-description{padding-top: 0;padding-right: clamp(1.25rem, -2.4896rem + 12.4913vw, 12.5rem); /*200-20*/}


/** 
    Template Bordered 
*/
.wdt-accordion-toggle-holder.wdt-template-bordered .wdt-accordion-toggle-wrapper { border-radius: var(--wdtRadius_2X); overflow: hidden; background: linear-gradient(90deg, var(--wdtAccentTxtColor), var(--wdtAccentTxtColor), var(--wdtPrimaryColor), var(--wdtTertiaryColor)); background-size: 300% 100%; background-position: center left; transition: var(--wdtBaseTransition); -webkit-transition: var(--wdtBaseTransition); }
.wdt-accordion-toggle-holder.wdt-template-bordered .wdt-accordion-toggle-title-holder { border-width: 2px; color:var(--wdtHeadAltColor); }
.wdt-accordion-toggle-holder.wdt-template-bordered .wdt-accordion-toggle-wrapper .wdt-accordion-toggle-title-holder,
.wdt-accordion-toggle-holder.wdt-template-bordered .wdt-accordion-toggle-description { padding:clamp(1.25rem, 0.9713rem + 1.2739vw, 2.5rem); /*40-20*/}
/* .wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-icon:has(> div:empty) { display:none; } */
.wdt-accordion-toggle-holder.wdt-template-bordered .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-title {display:inline-flex;font-weight: var(--wdtFontWeight_Alt);align-items:baseline;}
.wdt-accordion-toggle-holder.wdt-template-bordered .wdt-accordion-toggle-wrapper:not(:last-child) .wdt-accordion-toggle-title-holder { margin-bottom: -2px; }
.wdt-accordion-toggle-holder.wdt-template-bordered .wdt-accordion-toggle-description { border-width: 2px; padding-top: 0; padding-right:clamp(1.25rem, -1.258rem + 11.465vw, 12.5rem)  /*200-20*/; color: rgba(var(--wdtHeadAltColorRgb),0.8); }
.wdt-accordion-toggle-holder.wdt-template-bordered .wdt-accordion-toggle-wrapper:last-child .wdt-accordion-toggle-description { border-top: 0; }
.wdt-accordion-toggle-holder.wdt-template-bordered .wdt-accordion-toggle-wrapper:not(:last-child) .wdt-accordion-toggle-description { border-bottom: 0; }
.wdt-accordion-toggle-holder.wdt-template-bordered .wdt-accordion-toggle-title-holder,
.wdt-accordion-toggle-holder.wdt-template-bordered .wdt-accordion-toggle-title-holder.ui-state-hover,
.wdt-accordion-toggle-holder.wdt-template-bordered .wdt-accordion-toggle-title-holder.ui-state-active,
.wdt-accordion-toggle-holder.wdt-template-bordered .wdt-accordion-toggle-description{ border-color: transparent; background-color: transparent;}
.wdt-accordion-toggle-holder.wdt-template-bordered .wdt-accordion-toggle-description p { margin:0; }
.wdt-accordion-toggle-holder.wdt-template-bordered .wdt-accordion-toggle-wrapper:has(.ui-state-active) .wdt-accordion-toggle-title-holder {padding-bottom: clamp(0.9375rem, 0.8678rem + 0.3185vw, 1.25rem); /*15-20*/}    
.wdt-accordion-toggle-holder.wdt-template-bordered .wdt-accordion-toggle-wrapper:has(.ui-state-active,.ui-state-hover) { background-position: center right; }

/* Color */

.wdt-dark-bg .wdt-accordion-toggle-holder .wdt-accordion-toggle-title-holder .wdt-accordion-toggle-title{
    color: var(--wdtAccentTxtColor);
}

