/*--------------------------------------------------------------
    404 Error / Not-found Page
--------------------------------------------------------------*/

	.error404, .error404 > .wrapper { width: 100%; height: 100%; }
	.error404 > .wrapper { display: flex; padding: 35px 0 50px; }

	.center-content-wrapper {
		width: 100%; height: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center; }

	.error404 h1, .error404 h2, .error404 h3, .error404 h4, .error404 h5, .error404 h6 { line-height: 1em; }
	.error404 h2 { font-family: var(--wdtFontTypo_Alt); font-size: 100px; font-weight: var(--wdtFontWeight_Base); 
		line-height: 0.85; letter-spacing: 0; text-transform: uppercase; margin: 0; 
		margin-bottom: clamp(1.5625rem, 1.3957rem + 0.9202vw, 2.5rem); /*40px - 25px*/ }
	.error404 h3 { position: relative; display: inline-block; font-size: 220px; font-weight: bold; line-height: 0.85; 
		top: 0; margin: 0; margin-bottom: clamp(1.875rem, 1.7082rem + 0.9202vw, 2.8125rem); /*40px - 25px*/ }
	.error404 h4 { width: 100%; max-width: 570px; font-size: var(--wdtFontSize_H3); 
		font-weight: var(--wdtFontWeight_Base); text-transform: uppercase; border-bottom: 1px solid var(--wdtBorderColor); padding-bottom: 30px; margin-top: 0; margin-bottom: 30px; margin-left: auto; margin-right: auto; }
	.error404 .wdt-button, .error404 .wdt-button.type1 { display: inline-block; padding: var(--wdtPadding_Btn); letter-spacing: 0; }
	.error404 .type1 #wdt-style-picker ul li::before, .error404 #wdt-style-picker ul li:before { content: none; }
	.error404 .type1 #wdt-style-picker h3, .error404 #wdt-style-picker h3 { letter-spacing: 0; text-transform: capitalize; }
	.error404 #wdt-style-picker h2 { top: 0; }

	.error-box-inner * { text-align: center; }

	.error404 .menu-links { margin: 40px 0; }
	.error404 .menu-links li { 
		display: inline-block; text-transform: uppercase; font-size: 16px; padding: 0; margin: 0 2px 5px; }
	.error404 .menu-links li a { padding: 7px 20px; display: inline-block; }

	.error404 #searchform .wdt-search-icon { display: none; }
	.error404 #searchform { display: inline-block; margin: 0 auto; position: relative; width: 60%; }
	.error404 #searchform input[type="text"], .error404 #searchform input[type="submit"] { height: 52px; }
    .error404 #searchform input[type="submit"] { 
		border-radius: 0; padding: 13px 20px 13px; position: absolute; right: 0; top: 0; margin-top: 0; }

    .error404 .container { height: 100%; text-align: center; }

	.center-content-wrapper:before{
		content: "";
		height: 1px;
		width: 1px;
		position: absolute;
		top: 0; left: 0; right: 0; bottom: 0;
		margin: auto;
		border-radius: var(--wdtRadius_Full);
		-webkit-border-radius: var(--wdtRadius_Full);
    	background-color: rgba(var(--wdtPrimaryColorRgb), 0.15);
    	box-shadow: 0 0 800px 300px rgba(var(--wdtPrimaryColorRgb), 0.25);
    	-webkit-box-shadow: 0 0 800px 300px rgba(var(--wdtPrimaryColorRgb), 0.25);
		z-index: 0;
	}

	.error404 .container .wdt-404-contents {z-index: 1;}

/*--------------------------------------------------------------
    Default Colors
--------------------------------------------------------------*/

	.error404 .wdt-dark-bg, .error404 .menu-links li:hover a { background: var(--wdtHeadAltColor); }
	.error404 .menu-links li a { background:rgba(var(--wdtHeadAltColorRgb),0.05); }

	.error404 .wdt-button, .error404 .wdt-button.type1, .error404 .menu-links li:hover a { color: var(--wdtAccentTxtColor); }

	.error404 .wdt-button { background-color: var(--wdtPrimaryColor); }
	.error404 .wdt-button:hover { background-color: var(--wdtSecondaryColor); }

	.error404 .menu-links li a { color: var(--wdtHeadAltColor); }



/*--------------------------------------------------------------
    Accents
--------------------------------------------------------------*/

	.error404 h3 { color: var(--wdtPrimaryColor); }



/*--------------------------------------------------------------
 Responsive
--------------------------------------------------------------*/

/* Common Styles for the devices below 479px width */
@media only screen and (max-width: 479px) {

	.error404 h2 { font-size: var(--wdtFontSize_H1); }
	.error404 h3 { font-size: var(--wdtFontSize_H2); }
	.error404 h4 { font-size: var(--wdtFontSize_H3); }

}