.wdt-cus-header-bg{
    background-color: rgba(var(--wdtAccentTxtColorRgb),0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(var(--wdtBorderColorRgb),0.1);
    border-radius: var(--wdtRadius_1X);
}
/* --- Footer Info --*/

#footer .wdt-template-classic .wdt-accordion-toggle-wrapper{
    background-color: transparent;
}
#footer .elementor-widget-text-editor a:not(.button):not(.elementor-button){
    color: var(--wdtAccentTxtColor);
}
#footer .elementor-widget-text-editor a:not(.button):not(.elementor-button):hover{
    color: var(--wdtPrimaryColor);
}

/* -- Image Box - Simple Icon -- */

.wdt-image-box-holder.wdt-rc-template-simple-icon .wdt-content-item > div:not(:last-child), 
.wdt-image-box-holder.wdt-rc-template-simple-icon .wdt-content-item .wdt-content-media-group > div:not(:last-child), 
.wdt-image-box-holder.wdt-rc-template-simple-icon .wdt-content-item .wdt-content-detail-group > div:not(:last-child), 
.wdt-image-box-holder.wdt-rc-template-simple-icon .wdt-content-item .wdt-content-elements-group > div:not(:last-child){
    margin-bottom:20px
}

.wdt-image-box-holder.wdt-rc-template-simple-icon .wdt-content-item .wdt-content-media-group{
    border-bottom:1px solid var(--wdtHeadAltColor);
    padding-bottom:20px;
}
.wdt-image-box-holder.wdt-rc-template-simple-icon .wdt-content-item .wdt-content-icon-wrapper .wdt-content-icon span{
    font-size:50px;
    color:var(--wdtHeadAltColor);
}
.wdt-image-box-holder.wdt-rc-template-simple-icon .wdt-content-item .wdt-content-title h5{
    font-size: clamp(1.5rem, 1.4164rem + 0.3822vw, 1.875rem);
}
.wdt-image-box-holder.wdt-rc-template-simple-icon .wdt-content-item .wdt-content-title h5 a{
     color:var(--wdtLinkColor);   
}
.wdt-image-box-holder.wdt-rc-template-simple-icon .wdt-content-item .wdt-content-title h5 a:hover{
     color:var(--wdtLinkHoverColor);   
}
.wdt-image-box-holder.wdt-rc-template-simple-icon .wdt-content-item{
    opacity: 0.5;
    transition: var(--wdt-Ad-Transition);
    -webkit-transition: var(--wdt-Ad-Transition);
}

/* Hover and Active */

.wdt-image-box-holder.wdt-rc-template-simple-icon .wdt-active .wdt-content-item .wdt-content-icon-wrapper .wdt-content-icon span,
.wdt-image-box-holder.wdt-rc-template-simple-icon .wdt-content-item:hover .wdt-content-icon-wrapper .wdt-content-icon span{
    color: var(--wdtLinkHoverColor);
    filter: drop-shadow(0 0 10px var(--wdtTertiaryColor));
    -webkit-filter: drop-shadow(0 0 10px var(--wdtTertiaryColor));
}
.wdt-image-box-holder.wdt-rc-template-simple-icon .wdt-active .wdt-content-item,
.wdt-image-box-holder.wdt-rc-template-simple-icon .wdt-content-item:hover{opacity: 1;}