/**
    Marquee Animation Style 
*/

.wdt-animation-wrapper { position: relative; display: flex; flex-flow: row nowrap; overflow: visible; overflow-x: clip; }

.wdt-animation-wrapper div[class*="-marqee"] { width: auto; flex: 0 0 auto; display: grid; grid-auto-flow: column; align-items: center; }

.wdt-animation-wrapper div[class*="-marqee"] .wdt-animation-item { display: inline-flex; flex: 0 0 auto; text-align: center; position: relative; }
.wdt-animation-wrapper .wdt-animation-item { padding: 0 clamp(1.875rem, 1.5963rem + 1.2739vw, 3.125rem); /*  Min-30 & Max-50 */ }

.wdt-animation-wrapper div[class*="-marqee"].right-to-left { 
    -webkit-animation: MarqueeLeft 24s linear infinite 0ms; animation: MarqueeLeft 24s linear infinite 0ms; }
.wdt-animation-wrapper div[class*="-marqee"].left-to-right { 
    -webkit-animation: MarqueeRight 24s linear infinite 0ms; animation: MarqueeRight 24s linear infinite 0ms; }
  
.wdt-animation-wrapper:hover div[class*="-marqee"] { -webkit-animation-play-state: paused; animation-play-state: paused; }

@keyframes MarqueeLeft { 
    from { margin-left: 0; } 
    to { margin-left: var(--wdt-marque-Margin-Width); } 
}
@keyframes MarqueeRight { 
    from { margin-left: var(--wdt-marque-Margin-Width); } 
    to { margin-left: 0; } 
}

/**
    Animation Text Style 
*/

.wdt-animation-item.text-item { display: inline-block; font-size: clamp(4.375rem, 3.539rem + 3.8217vw, 8.125rem); /* Min-70 & Max-130 */
    font-weight: var(--wdtFontWeight_Alt); font-family: var(--wdtFontTypo_Alt); text-transform: capitalize; line-height: 1; }

.wdt-animation-item.text-item,
.wdt-animation-item.text-item a { color: rgba(var(--wdtHeadAltColorRgb),0.1); text-decoration: none !important; }
.wdt-animation-item.text-item a:hover { color: var(--wdtPrimaryColor); }

/**
    Animation Icon Style 
*/

.wdt-animation-item.icon-item { display: flex; align-items: center; justify-content: center; color: rgba(var(--wdtHeadAltColorRgb),0.1);
    font-size: clamp(4.375rem, 3.539rem + 3.8217vw, 8.125rem); /* Min-70 & Max-130 */ }

.wdt-animation-item.icon-item svg { width: 1em; height: 1em; fill: currentColor; }


/**
    Animation Image Style 
*/

.wdt-animation-item.image-item img { object-fit: cover; object-position: center;
    width: clamp(1.75rem, 1.4615rem + 1.2821vw, 3rem); /* Min-28 & Max-48 */
    height: clamp(1.75rem, 1.4615rem + 1.2821vw, 3rem); /* Min-28 & Max-48 */ }


/**
Brand icon type1 Style 
*/

.wdt-animation-wrapper:has(.type1,.type2,.icon-item) {
    mask-image: linear-gradient(90deg, transparent, var(--wdtBodyBGColor), var(--wdtBodyBGColor), var(--wdtBodyBGColor), var(--wdtBodyBGColor), var(--wdtBodyBGColor), transparent);
    -webkit-mask-image: linear-gradient(90deg, transparent, var(--wdtBodyBGColor), var(--wdtBodyBGColor), var(--wdtBodyBGColor), var(--wdtBodyBGColor), var(--wdtBodyBGColor), transparent);
}
.wdt-animation-item.type1 {
  align-items: center;
  justify-content: center;
  color: rgba(var(--wdtHeadAltColorRgb),0.3);
  font-size: clamp(5.625rem, 4.9283rem + 3.1847vw, 8.75rem); /* Min-90 & Max-140 */
  padding: clamp(1.25rem, 1.1107rem + 0.6369vw, 1.875rem) clamp(1.5625rem, 1.2838rem + 1.2739vw, 2.8125rem); /* Min-20 & Max-30 */ /* Min-25 & Max-45 */
  margin: 0 clamp(0.625rem, 0.5553rem + 0.3185vw, 0.9375rem); /* Min-10 & Max-15 */
  border: 1px solid rgba(var(--wdtSecondaryColorRgb),0.3);
  -webkit-border-radius: var(--wdtRadius_2X);
  border-radius: var(--wdtRadius_2X);
  background: linear-gradient(90deg, var(--wdtBodyBGColor), var(--wdtBodyBGColor), var(--wdtPrimaryColor), var(--wdtTertiaryColor));
  background-size: 300% 100%;
  background-position: center left;
  -webkit-transition: var(--wdt-Ad-Transition);
  transition: var(--wdt-Ad-Transition);
}
.wdt-animation-item.type1 svg{
  width: 1em;
  height: auto;
}
.wdt-animation-item.type1:hover{
    color: var(--wdtHeadAltColor);
    background-position: right center;
    border-color: transparent;
}


/**
    Responsive - AT Media Query
    --------------------------------
*/

